body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 50px;
}

ul {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

ul li {
  margin: 8px 0;
}

.valiotsikko {
  font-family: "Arial, sans-serif monospace";
  text-align: center;
  font-size: 32px;
  margin: 30px 0;
}

.intro {
  max-width: 800px;
  font-family: "Arial, sans-serif";
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  line-height: 1.6;
}

.container p {
  font-family: "Arial, sans-serif";
  text-align: center;
  font-size: 18px;
  margin: 20px;
}

.kuva { 
  height: auto;
  width: 350px;
  max-width: 100%;
  display: block;

}

.kuvat {
  max-height: 1050px;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.nav li {
    margin: 0 15px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}

.yhteystiedot {
  font-family: "Arial, sans-serif";
  text-align: center;
}

.yhteystiedot li {
  font-family: "Arial, sans-serif";
  text-align: center;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.hinnasto1 {
    font-family: "Arial, sans-serif";
    text-align: center;
    font-size: 25px;
    margin: 30px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.hinnasto2 {
    font-family: "Arial, sans-serif";
    text-align: center;
    font-size: 25px;
    margin: 30px;

    margin-top: 3rem;
    margin-bottom: 1rem;
}


.yhteystiedot {

  font-family: Arial, sans-serif;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}


.container img {
  margin: 10px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  align-items: center;
}


.palvelukuvat {
  height: 300px;
  max-width: 450px;
  width: 100%;
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
}
