body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 50px;
}

ul {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

ul li {
  margin: 8px 0;
}

.valiotsikko {
  font-family: "Arial, sans-serif monospace";
  text-align: center;
  font-size: 32px;
}

.intro {
  font-family: "Arial, sans-serif";
  text-align: center;
  font-size: 18px;
  margin: 20px;
  line-height: 1.6;
}

.container p {
  font-family: "Arial, sans-serif";
  text-align: center;
  font-size: 18px;
  margin: 20px;
}

.kuva { 
  height: 400px;
  width: 350px;
  display: block;

}

.kuvat {
  height: 550px;
  width: 1500px;
  gap: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


.nav li {
    margin: 0 15px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}

.yhteystiedot {
  text-align: center;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.hinnasto1 {
    font-family: "Arial, sans-serif";
    text-align: center;
    font-size: 25px;
    margin: 30px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.hinnasto2 {
    font-family: "Arial, sans-serif";
    text-align: center;
    font-size: 25px;
    margin: 30px;
<<<<<<< HEAD
    margin-top: 3rem;
    margin-bottom: 1rem;
}


=======
}

.yhteystiedot {
<<<<<<< HEAD
  font-family: Arial, sans-serif;
}
>>>>>>> f203e54fa02c7ad4b9d5efe5c47cb22f9db26a05

.container {
  display: flex;
  justify-content: center; 
  align-items: center;
}


.container img {
  margin: 10px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  align-items: center;
}


.palvelukuvat {
  height: 300px;
  width: 450px;
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
}

=======
    font-family: "Arial, sans-serif";
}
>>>>>>> 522c85777c7b735f8117f294ce4921bbaab26fe6
