body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.valiotsikko {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 32px;
}

.intro {
  font-family: "Arial, sans-serif";
  text-align: center;
  font-size: 18px;
  margin: 20px;
}