body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.valiotsikko {
  font-family: "Arial, sans-serif monospace";
  text-align: center;
  font-size: 32px;
}

.intro {
  font-family: "Arial, sans-serif";
  text-align: center;
  font-size: 18px;
  margin: 20px;
}

.kuva { 
  height: 400px;
  width: 350px;
  display: block;

}

.kuvat {
  height: 550px;
  width: 1500px;
  gap: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}